.jumbotron {
    margin-bottom: 0px;
    background-image: url("chard_42.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: DarkSlateBlue;
    text-align: left;
    font-family: 'Delius', cursive;}

.nav {
    background-color: DarkSlateBlue;
    color: white;
}

td {border-top: 1px solid black;
      padding: 15px }

th {text-align: left;
      padding: 5px }

table {width: 75%;}

.mystery { width: 500px;
        height: 300px;
        border-bottom: solid 5px DarkSlateBlue}

.frontpage {padding-left: 50px}

.heading {color: DarkSlateBlue;
        font-family: 'Delius', cursive; }
